{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>已创建如下产品目录：</h1>
        <ul>
            {% for pc in pcs %}
                <li>{{ pc.name }}---------<a href="{{ url_for('products', category=pc.id) }}">添加产品</a></li>
                <ul>
                    {% for product in pc.products %}
                        <li>{{ product.name }}---------<a href="{{ url_for('products_show', id=product.id) }}">管理</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
